#wrapper{
	margin: 50px auto;
	float: none;
	h1{
		margin: 30px 0;
		text-align: center;
	}
}
#main{
	position: relative;
	.square{
		position: absolute;
		left: 200px;
		top: 200px;
	}
}
.square{
	border: 2px solid #f33;
	min-width: 70px;
	width: 200px;
	min-height: 50px;
	box-sizing: border-box;
	& > *{
		box-sizing: border-box;
		position: relative;
		& > .img-wrapper{
			position: absolute;
		}
	}
	.top{
		border-bottom: 1px solid blue;
		display: none;
		overflow: hidden;
	}
	.bottom{
		// border: 1px solid green;
		display: none;
		overflow: hidden;
	}
}

.ui-resizable-helper { border: 1px dotted #f33; }

#main .ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{
	opacity: inherit;
}